<div class="modal fade" id="demoSetModal" tabindex="-1" role="dialog" aria-labelledby="demoSetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-info">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h1 class="modal-title" id="demoSetModalLabel">Demo set of 175 users</h1>
			</div>
			<article class="modal-body info-body">
				<p>
					This is a synthetic set of 175 Twitter users that have been manually determined to have a single dominant interest that they post about consistently.
					Although data will never be this clean in practical use (users may have multiple or no identifiable interests),
					such a ground truth allows us to evaluate the effectiveness of the method compared to others, 
					and serves as a clean and predictable demo to showcase the capability of the system.
				</p>
				<h3>175 users, 4 main interests, divided into 11 sub-interests</h3>
				<ul>
					<li>
						<strong>Computer science (45)</strong>
						<ul><li>Data science (15)</li></ul>
						<ul><li>Web development (15)</li></ul>
						<ul><li>iOS development (15)</li></ul>
					</li>
					<li>
						<strong>Sports (40)</strong>
						<ul><li>Football (10)</li></ul>
						<ul><li>Football (American) (10)</li></ul>
						<ul><li>Golf (10)</li></ul>
						<ul><li>Cricket (10)</li></ul>
					</li>
					<li>
						<strong>Politics (45)</strong>
						<ul><li>US politics (15)</li></ul>
						<ul><li>UK politics (15)</li></ul>
						<ul><li>Australian politics (15)</li></ul>
					</li>
					<li>
						<strong>Cars (45)</strong>
					</li>
				</ul>
				
			</article>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
			</div>
		</div>
	</div>
</div>